# Created by .ignore support plugin (hsz.mobi)
.idea

# Byte-compiled / optimized / DLL files
__pycache__/

geckodriver.log

*.pyc

# environment files
env
sendgrid.env
miye.env

# db files
celerybeat-schedule.db

# test files
test.py